html {
    font-family: "UniversNext", "Helvetica", sans-serif;
    font-size: 1rem;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}


.content-div {
	max-width: 780px;
	margin: 0 auto;
	text-align: justify;
}

header{
	display: block;
	width: 100%;
	background-color: white;
	color: black;
}

#topline {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


#logo{
	width: 5em;
	height: 5em;
}

#title{
	font-size: 3rem;
}


#main-div {
}

footer {
	width: 100%;
}

#logo-ksb{
	width: 780px;
}

#impressum{
	margin: 0;
	background: black;
	font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #FFFFFF;
}
